In [1]:
import pandas as pd
from statistic import DataSet



df = pd.read_csv("static/datasets/ratings1.csv")

In [2]:
df2 = pd.read_csv("/Users/damiangorcak/Desktop/BP-app/static/datasets/movie_item.csv")

In [3]:
from statistic import DataSet
data = DataSet(dataset=df, user="user_id", item="movie_id", rating="rating", name="name", dataset_names=df2)

In [4]:
data.get_items()

         item_id                                  name_y
0           1193  One Flew Over the Cuckoo's Nest (1975)
1            661        James and the Giant Peach (1996)
2            914                     My Fair Lady (1964)
3           3408                  Erin Brockovich (2000)
4           2355                    Bug's Life, A (1998)
...          ...                                     ...
1000204     1091              Weekend at Bernie's (1989)
1000205     1094                 Crying Game, The (1992)
1000206      562         Welcome to the Dollhouse (1995)
1000207     1096                  Sophie's Choice (1982)
1000208     1097       E.T. the Extra-Terrestrial (1982)

[1000209 rows x 2 columns]