In [1]:
import pandas as pd
from statistic import DataSet



df = pd.read_csv("static/datasets/ratings1.csv")

In [2]:
df2 = pd.read_csv("/Users/damiangorcak/Desktop/BP-app/static/datasets/movie_item.csv")

In [3]:
from statistic import DataSet
data = DataSet(dataset=df, user="user_id", item="movie_id", rating="rating", name="name", dataset_names=df2)

In [4]:
tmp = df

In [16]:
tmp.loc[len(tmp.index)] = [1,1,1,3,2]

In [17]:
data.make_dat_with_name()

         user_id  item_id                                    name  rating
0              1     1193  One Flew Over the Cuckoo's Nest (1975)       5
1              1      661        James and the Giant Peach (1996)       3
2              1      914                     My Fair Lady (1964)       3
3              1     3408                  Erin Brockovich (2000)       4
4              1     2355                    Bug's Life, A (1998)       5
...          ...      ...                                     ...     ...
1000204     6040     1091              Weekend at Bernie's (1989)       1
1000205     6040     1094                 Crying Game, The (1992)       5
1000206     6040      562         Welcome to the Dollhouse (1995)       5
1000207     6040     1096                  Sophie's Choice (1982)       4
1000208     6040     1097       E.T. the Extra-Terrestrial (1982)       4

[1000209 rows x 4 columns]