In [35]:
import pandas as pd
from statistic import DataSet


df = pd.read_csv("static/datasets/ratings1.csv")

In [36]:
data = DataSet(dataset=df, user="user_id", item="movie_id", rating="rating")

         Unnamed: 0  user_id  movie_id  rating  timestamp
0                 0        1      1193       5  978300760
1                 1        1       661       3  978302109
2                 2        1       914       3  978301968
3                 3        1      3408       4  978300275
4                 4        1      2355       5  978824291
...             ...      ...       ...     ...        ...
1000204     1000204     6040      1091       1  956716541
1000205     1000205     6040      1094       5  956704887
1000206     1000206     6040       562       5  956704746
1000207     1000207     6040      1096       4  956715648
1000208     1000208     6040      1097       4  956715569

[1000209 rows x 5 columns]

In [28]:
x = df.groupby("movie_id").count()
x.loc[x["rating"] > 10].reset_index()["movie_id"].tolist()

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 34,
 35,
 36,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 52,
 54,
 55,
 57,
 58,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 92,
 93,
 94,
 95,
 96,
 97,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 110,
 111,
 112,
 113,
 114,
 116,
 117,
 118,
 119,
 121,
 122,
 123,
 124,
 125,
 126,
 128,
 129,
 131,
 132,
 135,
 137,
 140,
 141,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 222,
 223,
 224,
 225,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 397,
 405,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 527,
 528,
 529,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 558,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 573,
 574,
 575,
 577,
 580,
 581,
 583,
 585,
 586,
 587,
 588,
 589,
 590,
 592,
 593,
 594,
 595,
 596,
 597,
 599,
 600,
 602,
 603,
 605,
 606,
 608,
 609,
 610,
 611,
 612,
 613,
 615,
 616,
 617,
 619,
 621,
 626,
 627,
 628,
 631,
 632,
 633,
 635,
 637,
 638,
 639,
 640,
 645,
 647,
 648,
 649,
 650,
 653,
 656,
 659,
 661,
 662,
 663,
 665,
 667,
 668,
 669,
 670,
 671,
 673,
 674,
 678,
 680,
 681,
 685,
 688,
 691,
 692,
 694,
 695,
 697,
 700,
 702,
 704,
 705,
 707,
 708,
 709,
 710,
 711,
 714,
 715,
 716,
 718,
 719,
 720,
 722,
 724,
 725,
 728,
 731,
 733,
 735,
 736,
 737,
 741,
 742,
 743,
 745,
 746,
 747,
 748,
 750,
 751,
 753,
 754,
 759,
 760,
 761,
 762,
 764,
 765,
 766,
 767,
 769,
 771,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 788,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 813,
 818,
 824,
 828,
 829,
 830,
 831,
 832,
 833,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 846,
 848,
 849,
 850,
 851,
 852,
 858,
 861,
 862,
 864,
 866,
 867,
 869,
 870,
 875,
 876,
 877,
 879,
 880,
 881,
 882,
 885,
 886,
 888,
 891,
 892,
 893,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 967,
 968,
 969,
 970,
 971,
 973,
 974,
 976,
 978,
 982,
 984,
 986,
 987,
 988,
 990,
 991,
 992,
 994,
 996,
 997,
 998,
 999,
 1000,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1038,
 1041,
 1042,
 1043,
 1044,
 1046,
 1047,
 1049,
 1050,
 1051,
 1053,
 1054,
 1055,
 1056,
 1057,
 1058,
 1059,
 1060,
 1061,
 1063,
 1064,
 1066,
 1067,
 1068,
 1069,
 1073,
 1076,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1087,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1099,
 1100,
 1101,
 1103,
 1104,
 1105,
 1111,
 1112,
 1113,
 1114,
 1116,
 1117,
 1119,
 1120,
 1121,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1132,
 1135,
 1136,
 1144,
 1147,
 1148,
 1150,
 1151,
 1152,
 1153,
 1154,
 1161,
 1162,
 1163,
 1167,
 1168,
 1169,
 1170,
 1171,
 1172,
 1173,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1183,
 1184,
 1185,
 1186,
 1187,
 1188,
 1189,
 1190,
 1191,
 1192,
 1193,
 1194,
 1196,
 1197,
 1198,
 1199,
 1200,
 1201,
 1202,
 1203,
 1204,
 1205,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1220,
 1221,
 1222,
 1223,
 1224,
 1225,
 1226,
 1227,
 1228,
 1230,
 1231,
 1232,
 1233,
 1234,
 1235,
 1236,
 1237,
 1238,
 1240,
 1241,
 1242,
 1243,
 1244,
 1245,
 1246,
 1247,
 1248,
 1249,
 1250,
 1251,
 1252,
 1253,
 1254,
 ...]

In [11]:
import pandas as pd
df = pd.read_csv("/Users/damiangorcak/Downloads/ml-1m/users.dat", sep='::', engine='python')
df

         1  F  1.1  10  48067
0        2  M   56  16  70072
1        3  M   25  15  55117
2        4  M   45   7  02460
3        5  M   25  20  55455
4        6  F   50   9  55117
...    ... ..  ...  ..    ...
6034  6036  F   25  15  32603
6035  6037  F   45   1  76006
6036  6038  F   56   1  14706
6037  6039  F   45   0  01060
6038  6040  M   25   6  11106

[6039 rows x 5 columns]

In [13]:
df2 = pd.read_csv("/Users/damiangorcak/Downloads/ml-1m/movies.dat",
             sep='::', engine='python',encoding='latin-1')

In [15]:
df = pd.read_csv("/Users/damiangorcak/Desktop/BP-app/static/datasets/ratings1.csv")

In [33]:
len(pd.unique(result["movie_id"]))

3706

In [31]:
result =  pd.merge(df, df2, how="left", on="movie_id")

In [37]:
data = DataSet(dataset=df, user="user_id", item="movie_id", rating="rating", name="name", dataset_names=df2)

KeyError: 'name'