In [19]:
import pandas as pd

df = pd.read_pickle("predictions_pkl")

In [20]:
df

       item_id                                         name  predictions
0         1193       One Flew Over the Cuckoo's Nest (1975)     4.275939
1          661             James and the Giant Peach (1996)     3.321860
2          914                          My Fair Lady (1964)     3.961499
3         3408                       Erin Brockovich (2000)     3.763712
4         2355                         Bug's Life, A (1998)     3.759617
...        ...                                          ...          ...
919876    2198                           Modulations (1998)     3.406296
940262    2703                        Broken Vessels (1998)     3.306919
957826    2845                            White Boys (1999)     3.203340
970914    3607                     One Little Indian (1973)     3.399517
983062    2909  Five Wives, Three Secretaries and Me (1998)     3.357019

[3706 rows x 3 columns]

In [21]:
ranges = []
for i in range(math.floor(df["predictions"].min()),math.ceil(df["predictions"].max()) + 1):
    ranges.append(i)
ranges

[1, 2, 3, 4, 5]

In [22]:
tmp = df.copy()
tmp["predictions"] = pd.cut(tmp.predictions, bins=ranges, right=False)
tmp = tmp.groupby("predictions").count()
tmp

             item_id  name
predictions
[1, 2)            88    88
[2, 3)          1014  1014
[3, 4)          2424  2423
[4, 5)           180   180

In [23]:
df.loc[df["predictions"] == df["predictions"].max()]

      item_id            name  predictions
21627    2905  Sanjuro (1962)     4.465499

In [34]:
df.sort_values(by="predictions", ascending=False).head(10)

      item_id                                               name  predictions
21627    2905                                     Sanjuro (1962)     4.465499
2185     2019  Seven Samurai (The Magnificent Seven) (Shichin...     4.415583
172       318                   Shawshank Redemption, The (1994)     4.403404
29        745                              Close Shave, A (1995)     4.390116
23        527                            Schindler's List (1993)     4.383325
3801      922      Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)     4.359447
761      1148                         Wrong Trousers, The (1993)     4.358988
903       750  Dr. Strangelove or: How I Learned to Stop Worr...     4.339090
932       904                                 Rear Window (1954)     4.337818
10930    1178                              Paths of Glory (1957)     4.331529